[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
mangum = "*"
boto3 = "*"
requests = "*"
pytest = "*"
pytest-mock = "*"
sqlalchemy = "*"
pg8000 = "*"
passlib = "*"
autopep8 = "*"
python-jose = "*"
python-multipart = "*"
twilio = "*"
authy = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest tests"
postinstall = "echo noop"
lint = "echo noop"
pylint-ci = "echo noop"
pylint-report = "echo noop"
